{% extends "conteneur.html" %}

{% block titre %}
    {%if video %}| Vidéo : {{video.chanteur}} : {{video.chanson}} {% endif %}
{% endblock %}

{% block corps %}
    {% if video %}
<h1></h1>
<h1>{{video.chanteur}}, <i>{{video.chanson}}</i></h1>
    <iframe width='100%' height='100%' frameborder='0' marginheight ='0' marginwidth='0' scrolling ='no' src='{{video.url}}' allow ='fullscreen,autoplay'></iframe>

    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}